__pycache__
*.pyc
*.egg-info

.tox
.coverage
coverage.xml
/htmlcov
/docs/_build/

.python-version
venv

node_modules

/static/*
!/static/.gitkeep
/media/*
!/media/.gitkeep

/miolingo/static/*
!/miolingo/static/miolingo

/miolingo/settings/local.py

.idea
.vscode
.history

.env

roadmap.txt
